
<mz-sidenav
  [id]="'sidenav-demo'"
  [collapseButtonId]="'btn-sidenav-demo'">
  <mz-sidenav-header>
    <div class="user-view">
      <img class="circle avatar" src="../../../../assets/img/eve.png">
      <div><span class="name">Francis Agbessi</span></div>
      <div><span class="email">Role: Super Administrateur</span></div>
    </div>
  </mz-sidenav-header>
  <mz-sidenav-subheader>Menu</mz-sidenav-subheader>
  <mz-sidenav-link [active]="true">
    <a href="#" ><i mz-icon [align]="'left'" [icon]="'dashboard'" [size]="'small'">
    </i>Tableau de bord</a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link >
    <a routerLink="/super-admin/create-admin"><i mz-icon  [align]="'left'" [icon]="'add'" [size]="'small'">
    </i>Creer un administrateur</a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link>
    <a routerLink="/super-admin/manage-admin" class="waves-effect"><i mz-icon [align]="'left'" [icon]="'group'" [size]="'small'">
    </i>Gerer les administrateurs</a>
  </mz-sidenav-link>


  <mz-sidenav-subheader>Mon compte</mz-sidenav-subheader>
  <mz-sidenav-link>
    <a href="#" ><i mz-icon [align]="'left'" [icon]="'account_box'" [size]="'small'">
    </i>Mes infos</a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link >
    <a href="#"><i mz-icon [align]="'left'" [icon]="'exit_to_app'" [size]="'small'">
    </i>Deconnexion</a>
  </mz-sidenav-link>
</mz-sidenav>


<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper blue">
        <a class="text-logo">ASDI</a>
        <a class="brand-logo" href="#">
          <img src="../../../../assets/img/asdi.png" class="logo">
        </a>
        <ul class="left">
          <li><a id="btn-sidenav-demo"><i mz-icon [align]="'right'" [icon]="'apps'" [size]="'medium'">
          </i></a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>


