<app-admin-nav-bar></app-admin-nav-bar>


    <main class="main">
      <div class="container">

        <h5>Gerer les gestionnaires de ferme</h5>
        <div class="divider"></div>

        <!--Form start-->

        <div style="margin-bottom: 50%; margin-top: 15%; margin-left: 50% " *ngIf="show == true">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
            </div>

            <div class="spinner-layer spinner-red">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
            </div>

            <div class="spinner-layer spinner-yellow">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
            </div>

            <div class="spinner-layer spinner-green">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="show == false">
          <div class="fixed-action-btn">
            <a (click)="bottomSheetModal.open()" class="btn-floating btn-large red">
              <i class="large material-icons">add</i>
            </a>
          </div>
        </div>

        <div class="row" *ngIf="show == false">
          <div class="col s12">
            <table class="striped highlight centered responsive-table">
              <thead>
              <tr>
                <th>Nom</th>
                <th>Prenoms</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Nom d'utilisateur</th>
                <th>Enabled</th>
                <th></th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let man of managers; index as i">
                <td>{{man.lastname | uppercase}}</td>
                <td>{{man.firstname}}</td>
                <td>{{man.email}}</td>
                <td>{{man.phone}}</td>
                <td>{{man.adress}}</td>
                <td>{{man.username}}</td>
                <td>
                  <div *ngIf="man.enabled == true">
                    <button class="waves-effect waves-light btn" (click)="enableManager(man.key,man.enabled,i)">Descativer</button>
                  </div>
                  <div *ngIf="man.enabled == false">
                    <button class="waves-effect waves-light btn" (click)="enableManager(man.key,man.enabled,i)">Activer</button>
                  </div>
                </td>
                <td>
                  <button class="waves-effect waves-light btn red" (click)="updateAdminModal.open(); saveKey(man.key)">Supprimer</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <mz-modal #updateAdminModal [options]="modalOptions">
          <mz-modal-header>
            <h4>Avertissement</h4>
          </mz-modal-header>
          <mz-modal-content>
            Voulez-vous vraiment supprimer ce gestionnaire?
          </mz-modal-content>
          <mz-modal-footer>
            <button mz-button [flat]="true" mz-modal-close>Annuler</button>
            <button mz-button [flat]="true" mz-modal-close (click)="deleteManager()">Confirmer</button>
          </mz-modal-footer>
        </mz-modal>



        <mz-modal #bottomSheetModal [options]="modalOptions">
          <mz-modal-header>
            <h4>Creer un gestionnaire</h4>
          </mz-modal-header>
          <mz-modal-content>
            <div class="row">
              <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">

                <div class="row">
                  <div class="input-field col s12">
                    <input name="lastname" [(ngModel)]="manager.lastname"  id="lastname" type="text" class="validate" required>
                    <label for="lastname">Nom </label>
                    <div *ngIf="empty_lastname == true">
                      <span class="helper-text" data-error="wrong" data-success="right">Ce champ ne doit pas etre vide</span>
                    </div>
                    <div *ngIf="contain_number == true">
                      <span class="helper-text" data-error="wrong" data-success="right">Ce champ ne doit contenir que des caracteres alphabetiques </span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input name="firstname" [ngModel]="manager.firstname" id="firstname" type="text" class="validate" required>
                    <label for="firstname">Prenoms  </label>
                    <div *ngIf="empty_firstname == true">
                      <span class="helper-text" data-error="wrong" data-success="right">Ce champ ne doit pas etre vide</span>
                    </div>
                    <div *ngIf="contain_number == true">
                      <span class="helper-text" data-error="wrong" data-success="right">Ce champ ne doit contenir que des caracteres alphabetiques</span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input name="email" [ngModel]="manager.email" id="email" type="text" class="validate" required>
                    <label for="email">Email  </label>
                    <div *ngIf="empty_email == true">
                      <span class="helper-text" data-error="wrong" data-success="right">Ce champ ne doit pas etre vide</span>
                    </div>
                    <div *ngIf="email_exits == true">
                      <span class="helper-text" data-error="wrong" data-success="right">Cette adresse email est deja utilisee</span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input name="phone" id="phone" [ngModel]="manager.phone" type="text" class="validate" required>
                    <label for="phone">Contact  </label>
                    <div *ngIf="empty_phoneNumber == true">
                      <span class="helper-text" data-error="wrong" data-success="right">Ce champ ne doit pas etre vide</span>
                    </div>
                    <div *ngIf="phone_exits == true">
                      <span class="helper-text" data-error="wrong" data-success="right">Ce numero de telephone est deja utilise</span>
                    </div>
                    <div *ngIf="contain_letter == true">
                      <span class="helper-text" data-error="wrong" data-success="right">Ce numero de telephone est invalide</span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input name="adress" id="adress" [ngModel]="manager.adress" type="text" class="validate" required>
                    <label for="adress">Adresse  </label>
                    <div *ngIf="empty_adress == true">
                      <span class="helper-text" data-error="wrong" data-success="right">Ce champ ne doit pas etre vide</span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input name="username" id="username" [ngModel]="manager.username" type="text" class="validate" required>
                    <label for="username">Nom d'utilisateur  </label>
                    <div *ngIf="empty_username == true">
                      <span class="helper-text" data-error="wrong" data-success="right">Ce champ ne doit pas etre vide</span>
                    </div>
                    <div *ngIf="username_exits == true">
                      <span class="helper-text" data-error="wrong" data-success="right">Ce nom d'utilisateur existe deja</span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input name="password" id="password" [ngModel]="manager.password" type="password" class="validate" required>
                    <label for="password">Mot de passe  </label>
                    <div *ngIf="empty_password == true">
                      <span class="helper-text" data-error="wrong" data-success="right">Ce champ ne doit pas etre vide</span>
                    </div>
                    <div *ngIf="match_password == true">
                      <span class="helper-text" data-error="wrong" data-success="right">Les mots de passe doivent etre identiques</span>
                    </div>
                    <div *ngIf="short_password == true">
                      <span class="helper-text" data-error="wrong" data-success="right">Le mots doit contenir au moins 6 caracteres</span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input name="conf_password" id="conf_password" [ngModel]="manager.conf_pass" type="password" class="validate" required>
                    <label for="conf_password">Confirmer le mot de passe </label>
                    <div *ngIf="match_password == true">
                      <span class="helper-text" data-error="wrong" data-success="right">Les mots de passe doivent etre identiques</span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <button class="waves-effect waves-light btn col s12 m12 l12" (click)="getModalValue(bottomSheetModal)">Ajouter</button>
                </div>

              </form>
            </div>
          </mz-modal-content>
          <mz-modal-footer>
            <button mz-button [flat]="true" mz-modal-close>Annuler</button>
          </mz-modal-footer>
        </mz-modal>

      </div>
    </main>



<app-admin-nav-footer></app-admin-nav-footer>
